
html {
  height: 100%;
  overflow: hidden;
}

body {
  height:100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

html{
  height:100%;
  background: #ffffff url(https://images.unsplash.com/photo-1449168013943-3a15804bb41c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=1958d4bfb59a246c6092ff0daabd284b) no-repeat center bottom fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
